.container {
  width: 100%;
  max-width: 100%;
  min-width: 0;
  padding: 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 767px) {
  .container {
    padding: 24px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 40px;
  }
}