.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading {
  font-weight: 700;
  line-height: 1.15;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .section {
    gap: 40px;
  }

  .heading {
    line-height: 1.1;
  }
}

@media (min-width: 1024px) {
  .heading {
    font-weight: 600;
  }
}
