.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: var(--fs-title-article);
  font-weight: 700;
}

.link {
   font-size: var(--fs-text-main);
  cursor: pointer;
  border: none;
  background: transparent;
  text-align: left;
  padding: 0;
  transition: 0.2s ease;
}

.link:hover {
  opacity: 0.6;
}