.headerText {
  font-weight: 500;
  line-height: normal;
  max-width: 227px;
  font-size: 12px;
  letter-spacing: -0.02em;
}

@media (max-width: 766px) {
  .headerText {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    line-height: normal;
  }
}

@media (min-width: 767px) {
  .headerText {
    max-width: 251px;
    font-size: 16px;
    font-weight: 600;
  }
}

@media (min-width: 1280px) {
  .headerText {
    max-width: 350px;
    font-size: 20px;
    line-height: 1.15;
  }
}
